#logo-empresa {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4e73df;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .05rem;
  padding: 1.5rem 1rem;
  text-decoration: none;
  height: 4.375rem;
  letter-spacing: .05rem;
  text-transform: uppercase;
  z-index: 1;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.nome-empresa {
  text-align: center;
}

.navbar{
  padding-left: unset;
}

.fa-laugh-wink:before {
  content: "\f59c";
}

main {
  height: 600px;
}


.content {
  height: 400px;
  display: inline-flex;
  text-align: justify;
  margin: auto;
  background-color: red;
}

.content h2,p {
  color: rgb(26, 26, 26);
  /* align-items: center;   */
}
.textarea { 
  height: 400px;
  text-align: center;
  background-color: #cccc;
}

.textarea textarea {
  resize: none;
}


.form-group [type="file"] {
  display: none;
}

.custom-upload {
  border-radius: 6px;
  border: 1px solid #4e73df;
  padding: 5px;
  color: #fff;
  background-color: #4e73df;
}

.custom-upload:hover{
  color: #fff;
  background-color: #2e59d9;
  border-color: #2653d4;
}